//
   Created by Ed on 1/23/2016.

include ./includes/mixins.jade
extends ./layout.jade


block jumbo
    .jumbotron
        .container
            h1 Search Existing BOLOs

block content
    include ./partials/global-alerts.jade

    include ./partials/bolo-options.jade

    form#create-bolo-form(action="/bolo/search" enctype="multipart/form-data" method="post")
        input( type="hidden" name="status" value="New" )
        +check_box("matchFields","Match Fields",true)
        +select_options( "category", "Category", categories, true, "" )
        +input_text( "firstName", "First Name", "", false, "" )
        +input_text( "lastName", "Last Name", "", false,  "" )
        +input_text( "dob", "Date of Birth (DD/MM/YYYY )", "DD/MM/YYYY", "" )
        +input_text( "dlNumber", "Drivers License Number", "", false, "" )
        +select_options( "race", "Race", races, false, "" )
        +select_options( "sex", "Sex", sex, false, "" )
        +input_text( "height", "Height - Feet-Inches (e.g. 05-09)", "e.g. 05-09", false, "" )
        +input_text( "weight", "Weight - Pounds", "", false, "" )
        +select_options( "hairColor", "Hair Color", hair_colors, false, "" )

        .form-group
            button.btn.btn-primary( type="submit" value="save") Search

